@inject IApplicationStateService _state

<div class="@(Open? "" : "d-none")" onclick="@OnLayerClick" style="@_style"></div>

<div Style="@_innerStyle">
    @ChildContent
</div>
@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback OnLayerClick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    string _style => $"position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: {(Open ? "10001" : "100")}";
    string _innerStyle => $"position: relative; z-index: {(Open ? "10002" : "100")}; background: transparent;";

    protected override Task OnInitializedAsync()
    {
        _state.OnChange += StateHasChanged;
        return base.OnInitializedAsync();
    }
}
